/* 
    Created on : Jan 18, 2017, 1:19:18 PM
    Author     : bang
*/


/*

#df_title (div)

#df_explanation_div_1 (div)
    .df_explanation (div)
    
#df_scope_selection_div (div)
    #df_scope_selection_dropdown_1
    #df_scope_selection_dropdown_2
    #df_scope_selection_dropdown_3
    
#df_threshold_setup_div (div)
    #df_threshold_setup_1 (.df_threshold_setup)
    #df_threshold_setup_2
    
#df_button_div (div)
    div
    #run_df_mining_button (button)
#df_explanation_div_2 (div)
    .df_explanation (div)

##########################################
####### Data mining config options #########
##########################################

#df_hdf_return_button_div
    #df_hdf_return_button (button)

#df_hdf_level_selection_div
    div
    #df_hdf_level_selection_input (input)


*/



#df_title{
    width:100%;
    float:left;
    font-size: 22px;
}
.df_explanation_div{
    width:100%;
    margin-top: 10px;
    float:left;
}
.df_explanation{
    font-size: 18px;
}

/* Scope Selection */

#df_scope_selection_div{
    width:100%;
    margin-top:15px;
    float:left;
}
.df_scope_selection_dropdown{
    width: 200px;
    float:left;
    height:24px;
    margin-left: 3px;
}


/* Threshold setup */


#df_hdf_level_selection_div{
    width:80%;
    float:left;
    margin-left:20px;
    margin-top: 15px;
}
#df_hdf_level_selection_div div{
    float:left;
    margin-left: 15px;
    margin-right: 10px;
}
#df_hdf_level_selection_div input{
    float:left;
}





#df_threshold_setup_div{
    width:100%;
    float:left;
    margin-top: 15px;
}

.df_threshold_setup{
    float:left;
    margin-left: 20px;
    margin-top:15px;
    width:80%;
}
.df_threshold_setup div{
    float:left;
}
.df_threshold_setup input{
    float:left;
    margin-left: 15px;
}


/* Button */

#df_button_div{
    width:100%;
    float:left;
    margin-top: 30px;
}
#df_button_div div{
    width:300px;
    margin:auto;
}
#run_df_mining_button{
    width:300px;
    font-size: 18px;
}

#df_hdf_return_button_div{
    width:100%;
    float:left;
}



/*
Display of Driving Features
*/

.df_action_button{
    font-size: 13px;
    margin-right: 4px;
}

#featureInfo_box{
    fill:#4B4B4B;
    opacity: 0.92;
}
                                            



